.idea/
__pycache__/
# bot token
/data/token.txt
# ids of groups where config.py works
/data/limitgroups.txt
# ids of groups where everything works
/data/fullgroups.txt
# ids of users who can kick Makuha
/data/makuha_kick_list.txt
# file ids of photos for deadinside comans
/data/deadinside.txt
# folder with .txt files with user's messages
/data/users_messages/
# personal files related to project
/data/personal/
