.idea/
.venv/
__pycache__/
# bot token
/data/token.txt
# file ids of photos for deadinside comans
/data/deadinside.txt
# file with ids of users
/data/userids.txt
# folder with .txt files with user's messages
/data/birthdays.py
# file with data of diaty
/data/diary.json
# folder with .txt files with user's birthdays
/data/users_messages/
# personal files related to project
/data/personal/
